
<div class="wrapper">
  <input type="checkbox" id="button" />
  <label for="button" onclick>Add/Remove</label>

  <div class="add">
    <form action="/merchants" method="post">
      <h2>New Merchant</h2>
      <input type="text" name="name">
      <input class="btn btn--action" type='submit' value="Save">
    </form>
  </div>

  <div class="remove">
    <form action="/merchants/delete" method="post">
      <h2>Delete Merchant</h2>
      <select name="merchant_id">
        <% @merchants.each do |merchant| %>
          <option value="<%=merchant.id%>"><%=merchant.name.capitalize%></option>
        <% end  %>
      </select>
      <input class="btn btn--action" type='submit' value="Delete">
    </form>
  </div>
</div>
