<!DOCTYPE html>
<html>
<head>
  <title>Moneybags</title>
  <link rel="icon" href="/images/moneybag.png" />

  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
</head>
<body>
  <div class="banner">
    <img src="/images/moneybag.png" alt="Moneybag" style="height:100px;">
    <h1>Moneybags!</h1>
  </div>
  <main class="flex flex--row">
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/transactions">Add/Remove Transactions</a>
      <a href="/labels">Add/Remove Labels</a>
      <a href="/merchants">Add/Remove Merchants</a>
      <a href="/settings">Settings</a>
    </div>
    <section id="content">
      <%= yield %>
    </section>
  </main>
</body>
<footer class="container">
	<ul>
      <li><img src="./images/facebook.png"></li>
      <li><img src="./images/linkedin.png"></li>
	</ul>
</footer>
</html>
