<!DOCTYPE html>
<html>
<head>
  <title>Moneybags</title>
  <link rel="icon" href="/images/moneybag.png" />

  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
</head>
<body>
<main class="flex flex--row">
  <div class="topnav">
        <a href="/">Home</a>
        <a href="/transactions">Add/Remove Transactions</a>
        <a href="/labels">Add/Remove Labels</a>
        <a href="/merchants">Add/Remove Merchants</a>
        <a href="/Settings">Settings</a>
  </div>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>
