.btn {
  border:0px none;
  border-radius: 3%;
  padding: 8px 12px;
  color: papayawhip;
  cursor:pointer;
  font-family: 'Special Elite', cursive;
}

.btn--action-sv:hover {
  background-color: darkgreen;
}

.btn--action-sv {
  background-color: grey;
}

.btn--action-del:hover {
  background-color: darkred;
}

.btn--action-del {
  background-color: grey;
}

.btn--wrapper {
  margin: 0px 0px 30px 0px;
}
