<h1>Settings</h1>


<form action="/settings" method="post">
  <h3>Username:</h3>
  <input type="text" name="username" value="<%= @user.username %>">

  <h3>Name:</h3>
  <input type="text" name="name" value="<%= @user.name %>">

  <h3>Monthly Budget:</h3>
  <input type="decimal" name="monthly_budget" value="<%= @user.monthly_budget %>">
  <br>
  <br>
  <input class="btn btn--action-sv" type='submit' value="Save">

</form>
