
<div class="wrapper">
  <input type="checkbox" id="button" />
  <label for="button" onclick>Add/Remove</label>

  <div class="add">
    <form action="/labels" method="post">
      <h2>New Label</h2>
      <input type="text" name="label">
      <input class="btn btn--action" type='submit' value="Save">
    </form>
  </div>

  <div class="remove">
    <p>some other stuff</p>
  </div>
</div>
