
<div class="wrapper">
  <input type="checkbox" id="button" />
  <label for="button" onclick>Add/Remove</label>

  <div class="add">
    <form action="/labels" method="post">
      <h2>New Label</h2>
      <input type="text" name="label">
      <input class="btn btn--action-sv" type='submit' value="Save">
    </form>
  </div>

  <div class="remove">
    <form action="/labels/delete" method="post">
      <h2>Delete Label</h2>
      <select name="label_id">
        <% @labels.each do |label| %>
          <option value="<%=label.id%>"><%=label.label.capitalize%></option>
        <% end  %>
      </select>
      <input class="btn btn--action-del" type='submit' value="Delete">
    </form>
  </div>
</div>
