
<div class="wrapper">
  <input type="checkbox" id="button" />
  <label for="button" onclick>Add/Remove</label>

  <div class="add">
    <h2>New Label</h2>
    <input type="text" name="label-text">
    <label for=""label-text">Save</label>
  </div>

  <div class="remove">
    <p>some other stuff</p>
  </div>
</div>
